body {
    text-align: center;
}
#mainIcon {
    margin-top: 50px;
    font-size: 35px;
    color: #00aeff;
}
#heading {
    margin-top: 10px;
    margin-bottom: 23px;
    font-size: 60px;
    font-family: 'Kalam', cursive;
}
label {
    font-size: 20px;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    color: darkred;
    word-spacing: 2px;
    letter-spacing: 2px;
    width: 20%;
}
input:focus {
    outline: none;
}
#sub {
    margin-top: 10px;
    font-weight: bold;
    width: auto;
}
#sub:hover {
    color: #2361d4;
    cursor: pointer;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
