#mainIcon {
    margin-top: 25px;
    font-size: 35px;
    color: #00aeff;
}
#heading {
    text-align: center;
    font-size: 40px;
    font-family: 'Kalam', cursive;
    color: #fd9e02;
    margin-top: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 22px;
    align-items: center;
    margin: 20px;
}
.grid article {
    border: 4px solid #0448ba;
    box-shadow: 2px 2px 8px 5px  rgba(0,0,0,0.3);
    border-radius: 15px;
}
.grid article .textArea {
    padding: 10px 20px 0 20px;
    font-size: 20px;
}
.grid article .textArea #table_main {
    margin-left: auto;
    margin-right: auto;
}
.grid article .textArea .data {
    padding-left: 15px;
}
.grid article #buttons {
    margin-top: 15px;
    text-align: center;
}
.grid article #buttons button {
    background-color: #187fd0;
    border: 0;
    color: white;
    padding: 5px;
    margin-bottom: 12px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid red;
    font-weight: bold;
}
.grid article #buttons #updateBtn {
    width: 40%;
}
.grid article #buttons #deleteBtn {
    width: 30%;
}
.grid article #buttons form {
    display: inline;
}
.grid article #buttons button:focus {
    outline: none;
}
.grid article #buttons button:hover {
    cursor: pointer;
    background-color: #0e568d;
}
