<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="navbar_main :: head"></div>
        <title>Data Collection App | User Details</title>
        <link th:href="@{/css/style_displayUser.css}" rel="stylesheet">
    </head>
    <body onload="removeShowBtn()">
        <div th:replace="navbar_main :: header"></div>
        <div class="row no-gutters">
            <div class="col text-center">
                <i id="mainIcon" class="fas fa-users"></i>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col text-center">
                <h1 id="heading">User(s) Info</h1>
            </div>
        </div>
        <div th:if="${usersData.isEmpty()}" class="row no-gutters">
            <div class="col text-center">
                <div id="no_data">No Data Found!!</div>
            </div>
        </div>
        <main class="grid">
            <div th:each="userData : ${usersData}">

                <article>
                    <div class="textArea text-center">
                        <table id="table_main" class="text-center">
                            <tr>
                                <td><u>Name</u>:</td>
                                <td class="data"><span th:text="${userData.userName}"></span></td>
                            </tr>
                            <tr>
                                <td><u>Age</u>:</td>
                                <td class="data"><span th:text="${userData.age}"></span></td>
                            </tr>
                            <tr>
                                <td><u>Email</u>:</td>
                                <td class="data"><span th:text="${userData.email}"></span></td>
                            </tr>
                            <tr>
                                <td><u>Address</u>:</td>
                                <td class="data"><span th:text="${userData.address}"></span></td>
                            </tr>
                            <tr>
                                <td><u>Mobile No</u>:</td>
                                <td class="data"><span th:text="${userData.mobileNumber}"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row" id="buttons">
                        <div class="col">
                            <a th:href="@{/updateUser(userId=${userData.id})}"><button id="updateBtn"><i class="fas fa-user-edit"></i>&nbsp;Update User Data</button></a>
                            <form onsubmit="return confirmDelete()" th:action="@{/deleteUser(userId=${userData.id})}" th:method="delete">
                                <button type="submit" id="deleteBtn"><i class="fas fa-user-times"></i>&nbsp;Delete User</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </main>
        <footer th:replace="navbar_main :: foot"></footer>
    </body>
</html>
