<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="navbar_main :: head"></div>
        <title>Data Collection App | Update User</title>
        <link th:href="@{/css/style_add_update_User.css}" rel="stylesheet">
    </head>
    <body onload="removeAddBtn()">
        <div th:replace="navbar_main :: header"></div>
        <div class="row no-gutters">
            <div class="col">
                <i id="mainIcon" class="fas fa-user-edit"></i>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <h1 id="heading">Update User</h1>
            </div>
        </div>
        <form id="updateUserForm" th:method="put" th:object="${oldData}" th:action="@{/updateUser(userId=${oldData.id})}">
            <div class="row no-gutters">
                <div class="col">
                    <label for="userName">Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" th:value="${oldData.userName}" id="userName" name="userName" required /><br><br>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <label for="age">Age:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" th:value="${oldData.age}" id="age" name="age" required /><br><br>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <label for="email">Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="email" th:value="${oldData.email}" id="email" name="email" required /><br><br>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <label for="mobileNumber">Mobile No:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" th:value="${oldData.mobileNumber}" id="mobileNumber" name="mobileNumber" required/><br><br>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <label for="address">Address:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" th:value="${oldData.address}" id="address" name="address" /><br/><br/><br>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <input id="sub" type="submit" value="Update Data" />
                </div>
            </div>
        </form>
        <footer th:replace="navbar_main :: foot"></footer>
    </body>
</html>
